@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #141415;
  background-image: url('c.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.coin-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
  color: #fff;
}

.coin-search {
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.coin-text {
  margin-bottom: 32px;
  text-align: center;
  image-rendering: crisp-edges;
}

.coin-input {
border: 2px solid #dadada;
  border-radius: 7px;
  padding-left: 16px;
  width: 600px;
  height: 60px;
  border-radius: 20px;
  border: #e2e2e2;
  background-image: linear-gradient(
    -225deg,
    #c10e0e 0%,
    #99505b 48%,
    #580536 100%
  );

  color: #ecdddd;
}
.coin-input:focus { 
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.coin-input::placeholder {
  color: #0a0101;
}